@import "tailwindcss";

@theme {
  --color-safecore-blue: #0099ff;
  --color-safecore-shield: #0050c8;
  --color-safecore-bg: #0f172a;

  --font-sans: "Inter", ui-sans-serif, system-ui;
}

body {
  background-color: var(--color-safecore-bg);
  color: white;
}
